/* Keyframes */
@keyframes appear {
  0% {
    transform: translateY(-2em);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dissapear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Keyframes */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 100;
}
/* Reset CSS */

/* html, body */
html,
body {
  background-color: #28272f;
}
.hiddenOverflow {
  overflow: hidden;
}
/* html, body */

/* Register & Login Component */
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  width: 400px;
  background-color: #28272f;
  padding: 1em;
  box-shadow: 0em 0em 1em 0.2em rgb(34, 34, 34);
}
.formTitle {
  font-size: 32px;
  color: #fdfefd;
}
.formError {
}
.formInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fdfefd;
  gap: 1em;
}
.formInputs .formInput:last-child {
  margin-bottom: 1em;
}
.formInput {
  background: #37363e;
  height: 50px;
  width: 300px;
  border: none;
  padding: 1em;
  color: #fdfefd;
  outline: none;
}
.formButtons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.formBtn {
  width: 300px;
  height: 50px;
  background: #ffffff;
  color: black;
  border-radius: 1em;
  border: none;
  cursor: pointer;
}
.formIsRegistered {
  cursor: pointer;
  border: none;
  background: #37363e;
  padding: 0.5em;
  color: white;
  border-bottom: 2px solid #37363e;
}
/* Register & Login Component */

/* Modal Container */
@keyframes modalAppear {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@keyframes modalContentAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes modalDissappear {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  1000% {
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes modalContentDissappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modalDissappear {
  animation: modalDissappear 0.3s both !important;
}
.modalContentDissappear {
  animation: modalContentDissappear 0.3s both !important;
  animation-delay: 0.3s;
}
.modalSettingsContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 10;
  animation: modalAppear 0.3s both;
}
.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: #37363e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: modalContentAppear 0.5s both;
  animation-delay: 0.2s;
}
.closeModal {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 20;
  color: white;
  cursor: pointer;
}
.allModalContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modalBtnList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}
.modalBtnList button {
  width: 630px;
  height: 50px;
  font-size: 22px;
  background-color: #28272f;
  border: none;
  color: #aeacb5;
  cursor: pointer;
}
.modalBtnList button:hover {
  background-color: #43424e;
}
.personalInfoContainer {
}
.editProfileContainer {
}
.privacityContainer {
}
.arrowBack {
  position: absolute;
  top: 1em;
  left: 1em;
  cursor: pointer;
  color: white;
  font-size: 32px;
}

/* Modal Info */

.personalInfo {
  padding: 20px;
  background-color: #28272f;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #aeacb5;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.infoItem {
  margin-bottom: 10px;
}

.infoItem label {
  font-weight: bold;
}

.infoItem span {
  margin-left: 10px;
}

.personalInfo h2 {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
}

/* Modal Info */

/* Modal Privacity */

/* Estilo del contenedor de privacidad */
.privacyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28272f;
  padding: 1em;
  width: 210px;
  color: white;
  border-radius: 1em;
}

/* Estilo de la etiqueta de privacidad */
.privacyLabel {
  margin-right: 10px;
}

/* Estilo del interruptor de privacidad */
.privacyToggleContainer {
  display: flex;
  background-color: #07bc0c;
  width: 3em;
  height: 20px;
  position: relative;
  border-radius: 1em;
}
.privacyToggle {
  position: absolute;
  bottom: 50%;
}

/* Estilo del input del interruptor de privacidad */
.privacyToggleInput {
  display: none;
}
/* Estilo del slider del interruptor de privacidad */
.privacyToggleSlider {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

/* Estilo del estado activado del slider */
.privacyToggleSlider::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #07bc0c;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  left: 0;
  transition: 0.2s;
}

/* Estilo del estado desactivado del slider */
.privacyToggleInput:checked + .privacyToggleSlider::before {
  left: 1.2em;
  background-color: #37363e; /* Cambia el color del fondo cuando está desactivado */
  box-shadow: 0px 0px 1px 1px #43424e;
}

/* Modal Privacity */

/* Modal Edit Profile */

/* styles.css */
.formulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
background-color: #28272f;
color: #aeacb5;
display: flex;
flex-direction: column;
  border-radius: 5px;
}

.inputContainer {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.3em;
}

.labelInput {
  display: block;
  font-weight: bold;
}

.inputContainer input {
  width: 100%;
height: 35px;
background-color: #43424e;
border: none;
padding: 10px;
  border-radius: 5px;
  color: #a3a1aa;
  outline: none;
}
.formBtnPerfil{
  width: 100%;
  height: 40px;
  background: #ffffff;
  color: black;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 0.4em;
  border: none;
  cursor: pointer;
  margin-top: 1em;
}

.cambiarContrasenaButton {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.weAreNotFriends{
  color: #a3a1aa;
  background-color: #28272f;
  padding: 1em;
  border-radius: 0.4em;
  text-align: center;
}



/* Modal Edit Profile */



/* Modal Container */

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.headerLeft {
  display: flex;
  align-items: center;

}
.btnNavList{
  display: flex;
  gap: 0.3em;
}
.headerLeftLogo{
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background: url(../public/favicon/favicon-32x32.png);
  background-position: center;
  background-size: cover;
}
.myAccount{
  background: #37363e;
  color:#a3a1aa;
  border-radius: 1em;
  padding: 1em;
  border: none;
  cursor: pointer;
}
.myAccountMedia{
  display: none !important;
}
.header-center {
  flex-grow: 1;
  text-align: center;
}

.searchInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchInput {
  width: 500px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background: #37363e;
  height: 50px;
  color: #fdfefd;
  outline: none;
}
.searchItemContainer {
  display: none;
}
.searchItemContainer:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 500px;
  height: 30px;
  background: #4c4a54;
  color: white;
  position: absolute;
  top: 55px;
}
.searchInput:focus ~ .searchItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 500px;
  height: 30px;
  background: #4c4a54;
  color: white;
  position: absolute;
  top: 55px;
}

.searchItem {
}
.header-right {
  margin-left: 20px;
}

.logout-button {
  background-color: #37363e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #4c4a54;
}
/* Header */

/* Dashboard Sections */
.dashboardGeneralContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.dashboardGeneral {
  width: 1000px;
}
.dashboardGeneralOutProfile{
  width: 800px;
}
.dashboardSections {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.backProfile {
  color: #7a7882;
  font-size: 48px !important;
  background-color: #37363e;
  border-radius: 1em;
  cursor: pointer;
  animation: appear 0.7s both;
  transition: 1s;
  position: absolute;
  left: 50px;
}
/* Dashboard Sections */

/* Dashboard Perfil */
.profileContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #37363e;
  position: relative;
  z-index: 1;
}
.profileImageContainer {
  display: flex;
  height: 128px;
}
.inputFile {
  position: absolute;
  height: 128px;
  width: 128px;
  opacity: 0;
}
.profileImage {
  width: 128px;
  height: 128px;
  background-position: bottom;
  background-size: contain;
  border-radius: 50%;
  display: flex;
}
.profileImage img {
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.profileUsername {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #9b9b9b;
  margin-top: 1em;
}
.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.requestExists{
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0.5em;
  background-color: #28272f;
  color: #888;
  width: 100%;
  right: 0;
  }
.isFriend {
  color: #9b9b9b;
  position: absolute;
  bottom: 6px;
  animation: dissapear 1s both;
}
.addFriendBtn {
  background: #28272f;
  border: none;
  border-radius: 0.5em;
  padding: 0.3em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 200px;
  height: 40px;
  position: relative;
  top: 1.5em;
}
.addFriendBtnDiss {
  cursor: auto;
  box-shadow: inset 0 0 0 0 #28272f;
  animation: dissapear 1s both;
}
.profileEmail {
  font-size: 16px;
  color: #777;
}
.profileSettingsBtn {
  color: white;
  background-color: #28272f;
  padding: 0.2em;
  border-radius: 1em;
  cursor: pointer;
  font-weight: 200 !important;
  position: absolute;
  right: 1em;
  top: 1em;
}
/* Dashboard Perfil */

/* Dashboard Friends */
.friendsContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #37363e;
  padding: 20px;
  position: relative;
  z-index: 1;
}
.friendsCount {
  color: #7a7882;
}
.friendsRequestsBtn {
  display: none !important;
}
/* Dashboard Friends */

/* Dashboard Friends Requests */
.friendRequestsContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #37363e;
  padding: 20px;
}
.friendRequestCount {
  color: #7a7882;
  margin-bottom: 1em;
}
.friendsCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #7a7882;
  height: 100%;
  margin-top: 1em;
}
.friendItem {
  cursor: pointer;
}
.friendRequestItemsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.friendRequestItemContainer {
  display: flex;
  align-items: center;
  color: #7a7882;
  margin-top: 1em;
  gap: 1em;
}
.friendRequestItem {
}
.friendRequestItemBtn {
  font-size: 16px;
  cursor: pointer;
}
/* Dashboard Friends Requests */

/* Dashboard Post Form */
.formPost {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70px;
}
.formInputPost {
  background: #37363e;
  height: 50px;
  width: 80%;
  border: none;
  padding: 1em;
  color: #fdfefd;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  outline: none;
}
.formBtnPost {
  width: 20%;
  height: 50px;
  background: #ffffff;
  color: black;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 1em;
  border: none;
  cursor: pointer;
}
/* Dashboard Post Form */

/* Dashboard Feed */

.dashboardFeedContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Dashboard Feed */


/* Dashboard Posts List*/
.postsContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.postsContainer .post:first-child{
  margin-bottom: 1em;
}
.post {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: #37363e;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5em;
  position: relative;
}
.postHeader {
  display: flex;
  color: #9b9b9b;
  align-items: center;
}
.postText {
  display: flex;
  height: 50%;
  justify-content: flex-start;
  align-items: flex-end;
  color: #aeacb5;
margin-top: 0.5em;
margin-bottom: 1em;
}
.noPosts{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10em;
  right: 1em;
  border-bottom-right-radius: 10em;
  border-top-right-radius: 10em;
animation: noPostsEnter 1s both;
}
@keyframes noPostsEnter {
  0%{transform: translateX(-100vw);}
  100%{transform: translateX(0);}
}
.postTextCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: #aeacb5;
  animation-name: desbaratar;
  animation-duration: 0.5s; 
  animation-iteration-count: 1; 
  animation-delay: 0.8s;
}
@keyframes desbaratar {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(7deg);
  }
  40% {
    transform: rotate(-7deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.privatePost{
  height: 120px !important;
}
.privatePostText{
 justify-content: center;
 align-items: center;
}
.postHeader .profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.postHeader h3 {
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50%;
}

.timestamp {
  font-size: 12px;
  color: #888;
}

.deleteButton {
  background-color: #28272f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.privatePosts {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #37363e;
  color: #a3a1aa;
  margin-top: 1em;
  border-radius: 1em;
  height: 50px;
  gap: 1em;
  padding: 1em;
}
/* Dashboard Posts List*/


/* Perfil Modal  */


.perfilModalContainer{
  display: none;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #43424e;
  z-index: 30;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.perfilModalContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  color: #a3a1aa;
} 

@keyframes extend {
  0%{width: 0%;}
  100%{width: 50%;}
}
@keyframes extend-o {
  0%{width: 50%;}
  100%{width: 0%;}
}

/* Perfil Modal  */


/* Media Queries 768 */
@media (max-width: 800px) {
  /* Header 800 */
  .myAccountMedia{
    color: white;
    padding: 0.2em;
    border-radius: 1em;
    cursor: pointer;
    display: flex !important;
    font-size: 32px !important;
    font-weight: 200 !important;
  }
  .logout-button{
    display: none;
  }
  .myAccount{
    display: none;
  }
  .searchInput {
    width: 300px;
  }
  .searchInput:focus ~ .searchItemContainer {
    width: 300px;
  }
  .searchItemContainer:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 300px;
    height: 30px;
    background: #4c4a54;
    color: white;
    position: absolute;
    top: 55px;
  }
  /* Header 800 */

  /* Form Post 800 */
  .formPost{
margin-bottom: 1em;
  }
  .formBtnPost {
    width: 30%;
  }
  .formInputPost {
    width: 70%;
  }
  /* Form Post 800 */

  /* Profile 800 */
  .profileContainer {
    width: 100%;
  }
  /* Profile 800 */

  /* Profile Friends 800 */
  .friendsContainer {
    width: 100%;
  }
  .friendsRequestsBtn {
    color: white;
    background-color: #28272f;
    padding: 0.2em;
    border-radius: 1em;
    cursor: pointer;
    font-weight: 200 !important;
    align-self: flex-end;
    display: flex !important;
    position: absolute;
    top: 1em;
    right: 1em;
  }
  .friendCount {
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    display: inline;
  }
  /* Profile Friends 800 */

  /* Friend Requests 800 */
  .friendRequestsContainer {
    display: none;
  }

  /* Friend Requests 800 */

  /* Dashboard Sections 800 */
  .dashboardGeneral {
    width: 540px;
  }
  .dashboardGeneralOutProfile{
    width: 440px;
  }
  .dashboardSections {
    flex-direction: column;
    align-items: center;
  }
  /* Dashboard Sections 800 */
    
  /* Modal Container 800 */
  .modalContent{
height: 90%;
  }
.modalBtnList button{
  width: 450px;
}
/* Modal Colors 800 */

.colors{
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0 !important;
  bottom: -0.7em;
}

/* Modal Colors 800 */

  /* Modal Container 800 */
}
/* Media Queries 800 */

/* Media Queries 568 */
@media (max-width: 568px) {
  /* Header 568 */
  .searchInput {
    width: 150px;
  }
  .searchInput:focus ~ .searchItemContainer {
    width: 150px;
  }
  .searchItemContainer:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    height: 30px;
    background: #4c4a54;
    color: white;
    position: absolute;
    top: 55px;
  }
  /* Header 568 */

  /* Form Post 568 */

  /* Form Post 568 */

  /* Dashboard Sections 568 */
  .dashboardGeneral {
    width: 340px;
  }
  /* Dashboard Sections 568 */

  /* Modal Container 568 */
.modalBtnList button{
  width: 300px;
}

  /* Modal Container 568 */

}
/* Media Queries 568 */
