/* Keyframes */
@keyframes appear {
0%{transform: translateY(-2em); opacity: 0;}
70%{opacity: 0;}
100%{opacity: 1;}    
}
@keyframes dissapear {
  0%{opacity: 1;}
  50%{opacity:1;}
  100%{opacity: 0; transform: translateY(-1em);}
}
/* Keyframes */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 100;
}
/* Reset CSS */

/* html, body */
html,
body {
  background-color: #28272f;
}
.hiddenOverflow{
  overflow: hidden;
}
/* html, body */

/* Register & Login Component */
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  width: 400px;
  background-color: #28272f;
  padding: 1em;
  box-shadow: 0em 0em 1em 0.2em rgb(34, 34, 34);
}
.formTitle {
  font-size: 32px;
  color: #fdfefd;
}
.formError {
}
.formInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fdfefd;
  gap: 1em;
}
.formInputs .formInput:last-child{
  margin-bottom: 1em;
}
.formInput {
  background: #37363e;
  height: 50px;
  width: 300px;
  border: none;
  padding: 1em;
  color: #fdfefd;
  outline: none;
}
.formButtons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.formBtn {
  width: 300px;
  height: 50px;
  background: #ffffff;
  color: black;
  border-radius: 1em;
  border: none;
  cursor: pointer;
}
.formIsRegistered {
  cursor: pointer;
  border: none;
  background: #37363e;
  padding: 0.5em;
  color: white;
  border-bottom: 2px solid #37363e;
}
/* Register & Login Component */

/* Modal Container */
@keyframes modalAppear {
  0%{background-color:rgba(0, 0, 0, 0);}
  100%{background-color: rgba(0, 0, 0, 0.8);}
}
@keyframes modalContentAppear {
  0%{transform: scale(0)}
  100%{transform: scale(1);}
}
@keyframes modalDissappear {
  0%{background-color: rgba(0, 0, 0, 0.8);}
  1000%{background-color:rgba(0, 0, 0, 0);}
}
@keyframes modalContentDissappear {
  0%{opacity:1;}
  100%{opacity:0;}
}
.modalDissappear{
  animation: modalDissappear 0.3s both !important;
}
.modalContentDissappear{
  animation: modalContentDissappear 0.3s both !important;
animation-delay: 0.3s;
}
.modalSettingsContainer{
  height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
  position: absolute;
  top: 0;
z-index: 10;
animation: modalAppear 0.3s both;
}
.modalContent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: #37363e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: modalContentAppear 0.5s both;
  animation-delay: 0.2s;
}
.closeModal{
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 20;
  color: white;
  cursor: pointer
}
.allModalContent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modalBtnList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}
.modalBtnList button{
  width: 500px;
  height: 50px;
  font-size: 22px;
  background-color: #28272f;
  border:none;
  color: #aeacb5;
  cursor: pointer;
}
.modalBtnList button:hover{
  background-color: #43424e;
}
.personalInfoContainer{

}
.editProfileContainer{

}
.privacityContainer{

}
.arrowBack{
position: absolute;
top: 1em;
left: 1em;
cursor: pointer;
color: white;
font-size: 32px;
}

/* Modal Info */

.personalInfo {
  padding: 20px;
  background-color: #28272f;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color:#aeacb5;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.infoItem {
  margin-bottom: 10px;
}

.infoItem label {
  font-weight: bold;
}

.infoItem span {
  margin-left: 10px;
}

.personalInfo h2 {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
}
/* Modal Info */

/* Modal Privacity */

/* Estilo del contenedor de privacidad */
.privacyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28272f;
padding: 1em;
width: 210px;
color: white;
border-radius: 1em;
}

/* Estilo de la etiqueta de privacidad */
.privacyLabel {
  margin-right: 10px;
}

/* Estilo del interruptor de privacidad */
.privacyToggleContainer{
 display: flex;
 background-color: #007BFF;
 width: 3em;
 height: 20px; 
 position: relative;
 border-radius: 1em;
}
.privacyToggle {
  position: absolute;
  bottom: 50%;
}

/* Estilo del input del interruptor de privacidad */
.privacyToggleInput {
  display: none;
}
/* Estilo del slider del interruptor de privacidad */
.privacyToggleSlider {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

/* Estilo del estado activado del slider */
.privacyToggleSlider::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #007BFF;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  left: 0;
  transition: 0.2s;
}

/* Estilo del estado desactivado del slider */
.privacyToggleInput:checked + .privacyToggleSlider::before {
  left: 1.2em;
  background-color: #ccc; /* Cambia el color del fondo cuando está desactivado */
}


/* Modal Privacity */

/* Modal Container */


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-left {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background: url(../public/favicon/favicon-32x32.png);
  background-position: center;
  background-size: cover;
}

.header-center {
  flex-grow: 1;
  text-align: center;
}

.searchInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchInput {
  width: 500px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background: #37363e;
  height: 50px;
  color: #fdfefd;
  outline: none;
}
.searchItemContainer{
  display: none;
}
.searchItemContainer:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 500px;
  height: 30px;
  background: #4c4a54;
  color: white;
  position: absolute;
  top: 55px;
}
.searchInput:focus ~ .searchItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 500px;
  height: 30px;
  background: #4c4a54;
  color: white;
  position: absolute;
  top: 55px;
}

.searchItem {
}
.header-right {
  margin-left: 20px;
}

.logout-button {
  background-color: #37363e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #4c4a54;
}
/* Header */

/* Dashboard Sections */
.dashboardGeneralContainer{
  display: flex;
  flex-direction: column;
align-items: center;
  width: 100%;
}
.dashboardGeneral{
width: 1000px;
}
.dashboardSections {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.backProfile {
  color: #7a7882;
  font-size: 48px !important;
  background-color: #37363e;
  border-radius: 1em;
  cursor: pointer;
  animation: appear 0.7s both;
  transition: 1s;
  position: absolute;
left: 50px;
}
/* Dashboard Sections */

/* Dashboard Perfil */
.profileContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #37363e;
  position: relative;
  z-index: 1;
}
.profileImageContainer{
  display: flex;
  height: 128px;
}
.inputFile{
position: absolute;
height: 128px;
width: 128px;
opacity: 0;
}
.profileImage {
  width: 128px;
  height: 128px;
  background-position: bottom;
  background-size: contain;
  border-radius: 50%;
  display: flex;
}
.profileImage img {
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.profileUsername {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #9b9b9b;
  margin-top: 1em;
}
.profileInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.isFriend{
color: #9b9b9b;
position: absolute;
bottom: 6px;
animation: dissapear 1s both;
}
.addFriendBtn{
  background: #28272f;
  border: none;
  border-radius: 0.5em;
  padding: 0.3em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 200px;
  height: 40px;
  position: relative;
  top: 1.5em;
}
.addFriendBtnDiss{
  cursor: auto;
  box-shadow: inset 0 0 0 0 #28272f;
  animation: dissapear 1s both;
}
.profileEmail {
  font-size: 16px;
  color: #777;
}
.profileSettingsBtn {
  color: white;
  background-color: #28272f;
  padding: 0.2em;
  border-radius: 1em;
  cursor: pointer;
  font-weight: 200 !important;
position: absolute;
right: 1em;
top: 1em;
}
/* Dashboard Perfil */

/* Dashboard Friends */
.friendsContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #37363e;
  padding: 20px;
  position: relative;
  z-index: 1;
}
.friendsCount {
  color: #7a7882;
}
.friendsRequestsBtn{
  display: none !important;
}
/* Dashboard Friends */

/* Dashboard Friends Requests */
.friendRequestsContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #37363e;
  padding: 20px;
}
.friendRequestCount {
  color: #7a7882;
  margin-bottom: 1em;
}
.friendsCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #7a7882;
  height: 100%;
  margin-top: 1em;
}
.friendItem {
  cursor: pointer;
}
.friendRequestItemsContainer{
display: flex;
flex-direction: column;
height: 100%;
}
.friendRequestItemContainer{
  display: flex;
  align-items: center;
  color: #7a7882;
  margin-top: 1em;
  gap: 1em;
}
.friendRequestItem{
}
.friendRequestItemBtn{
  font-size: 16px;
cursor: pointer;
}
/* Dashboard Friends Requests */

/* Dashboard Post Form */
.formPost{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 70px;
}
.formInputPost{
    background: #37363e;
    height: 50px;
width: 80%;
    border: none;
    padding: 1em;
    color: #fdfefd;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    outline: none;
}
.formBtnPost{
    width: 20%;
    height: 50px;
    background: #ffffff;
    color: black;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 1em;
    border: none;
    cursor: pointer;
}
/* Dashboard Post Form */

/* Dashboard Posts List*/
.postsContainer{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.post {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: #37363e;
  height: 150px;
  display:flex;
  flex-direction: column;
  border-radius: 0.5em;
}

.postHeader {
  display: flex;
  color: #9b9b9b;
  align-items: center;
}
.postText{
  display: flex;
  height: 50%;
  justify-content: start;
  align-items: end;
  color: #aeacb5;

}
.postHeader .profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.postHeader h3 {
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 50%;
}

.timestamp {
  font-size: 12px;
  color: #888;
}

.deleteButton {
  background-color: #28272f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.privatePosts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #37363e;
  color: #a3a1aa;
  margin-top: 1em;
  border-radius: 1em;
  height: 50px;
  gap: 1em;
padding: 1em;
}
/* Dashboard Posts List*/


/* Media Queries 768 */
@media (max-width:800px) {
/* Header 800 */
.searchInput{
  width: 300px;
}
.searchInput:focus ~ .searchItemContainer {
  width: 300px;
  }
  .searchItemContainer:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 300px;
    height: 30px;
    background: #4c4a54;
    color: white;
    position: absolute;
    top: 55px;
  }
/* Header 800 */

/* Form Post 800 */
.formBtnPost{
width: 100px;
}
.formInputPost{
  width: 300px;
}
/* Form Post 800 */


/* Profile 800 */
.profileContainer{
  width: 100%;
}
/* Profile 800 */

/* Profile Friends 800 */
.friendsContainer{
  width: 100%;
}
.friendsRequestsBtn{
  color: white;
  background-color: #28272f;
  padding: 0.2em;
  border-radius: 1em;
  cursor: pointer;
  font-weight: 200 !important;
  align-self: flex-end;
  display: flex !important;
  position: absolute;
  top: 1em;
  right: 1em;
}
.friendCount{
  font-size: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  display: inline ;
}
/* Profile Friends 800 */


  /* Friend Requests 800 */
  .friendRequestsContainer{
    display: none;
  }
 
  /* Friend Requests 800 */

  /* Dashboard Sections 800 */
  .dashboardGeneral{
    width: 540px;
  }
.dashboardSections{
  flex-direction: column;
  align-items: center;
}
  /* Dashboard Sections 800 */

}
/* Media Queries 800 */

/* Media Queries 568 */
@media (max-width:568px) {


  /* Header 568 */
.searchInput{
  width: 150px;
}
.searchInput:focus ~ .searchItemContainer {
width: 150px;
}
.searchItemContainer:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 30px;
  background: #4c4a54;
  color: white;
  position: absolute;
  top: 55px;
}
/* Header 568 */

/* Form Post 568 */

/* Form Post 568 */

/* Dashboard Sections 568 */
.dashboardGeneral{
  width: 340px;
}
/* Dashboard Sections 568 */

}
/* Media Queries 568 */
